<!-- <div class="adminbuttonz">

<p>Admin Jerks ONLY: Add New Products</p>


 <ul>
<li><input type="text" data-ng-model="" placeholder="Name"></li>
<li><input type="text" data-ng-model="" placeholder="Price"></li>
<li><input type="text" data-ng-model="" placeholder="Image 1"></li>
<li><input type="text" data-ng-model="" placeholder="Image 2"></li>
<li><input type="text" data-ng-model="" placeholder="Image 3"></li>
<li><textarea data-ng-model="" placeholder="Description"></textarea></li>
<button data-ng-click="newPost(post)">New Post</button>
</ul>
</div>
 -->
 <p>hello </p>