<div class="jerkCart">
<img src="http://s3-ec.buzzfed.com/static/2014-05/enhanced/webdr06/7/13/anigif_enhanced-9193-1399483433-2.gif" alt="">

<h1>Jerk Cart</h1>

</div>

<div class="productlist">

<img src="" class="jerkHeader" alt="">
<br>
<br>
<button class="headerbtn btn btn-info" data-ng-click="backMain()"><a ng-href="#">Go Home</a></button>


<section data-ng-repeat="product in cartProducts">
	<h1>{{product.name}}</h1>
	<h2>{{product.price | currency}}</h2>
	<h2>{{product.preview}}</h2>
	<h2><img src="{{product.image1}}"></h2>
	<h2>Quantity:{{product.quantity}}</h2>

	<button class="btn btn-warning"><a href="#/cart/{{product._id}}">Update Quantity</a></button>
	<hr>

</section>
</div>