<div class="productlist">

<img src="images/jerkstore.png" class="jerkHeader" alt="">
<br>
<br>
<button class="headerbtn" data-ng-click="backMain()"><a ng-href="#">Go Home</a></button>


<section data-ng-repeat="product in products">

	<h1>{{product.name}}</h1>
	<h2>{{product.price | currency}}</h2>
	<h2>{{product.preview}}</h2>
	<h2><img src="{{product.image1}}"></h2>
	<h2><img src="{{product.image2}}"></h2>
	<h2><img src="{{product.image3}}"></h2>
	<h2>{{product.description}}</h2>

	<button data-ng-click="updateCart(product)"><a ng-href="#/cart" class="glyphicon glyphicon-shopping-cart">Add To Cart</a></button>

	<a href="#/product/{{product._id}}">Update Jerk</a>
	<hr>

</section>
</div>

