<div class="productlist">

<img src="images/jerkstore.png" class="jerkHeader" alt="">
<br>
<br>
<button class="headerbtn btn btn-info" data-ng-click="backMain()"><a ng-href="#">Go Home</a></button>


<section data-ng-repeat="product in products">

	<h1>{{product.name}}</h1>
	<h2>{{product.price | currency}}</h2>
	<h2>{{product.preview}}</h2>
	<div class="imagemerrygo">
    <div style="width: 400px; margin: 0 auto">
      <carousel interval='4000'>
        <slide class="active">
          <img ng-src="{{product.image1}}" style="margin:auto;">
        </slide>
        <slide>
          <img ng-src="{{product.image2}}" style="margin:auto;">
        </slide>
        <slide>
          <img ng-src="{{product.image3}}" style="margin:auto;">
        </slide>
      </carousel>
    </div> 
  </div>

	<!-- <h2><img src="{{product.image1}}"></h2>
	<h2><img src="{{product.image2}}"></h2>
	<h2><img src="{{product.image3}}"></h2> -->
	<h2>{{product.description}}</h2>

	<input type="text" data-ng-model="product.quantity" value="{{product.quantity}}">
	<div ng-controller="JerkCartsCtrl">
	<button class="btn btn-success" data-ng-click="addToCart(product)">Add to Cart (with quantity)</button>
</div>
	<button class="btn btn-warning"><a href="#/product/{{product._id}}">Update Jerk</a></button>
	<hr>

</section>
</div>



