<div class="adminbuttonz">
	<img src="http://i.imgur.com/TmTHIy1.gif" alt="">

<h1>Admin Jerks ONLY: Add New Products</h1>

<hr>
 <ul>
<li><input type="text" data-ng-model="product.name" placeholder="Name"></li>
<li><input type="text" data-ng-model="product.price" placeholder="Price"></li>
<li><textarea data-ng-model="product.preview" placeholder="Preview"></textarea></li>
<li><input type="url" data-ng-model="product.image1" placeholder="Image 1"></li>
<li><input type="url" data-ng-model="product.image2" placeholder="Image 2"></li>
<li><input type="url" data-ng-model="product.image3" placeholder="Image 3"></li>
<li><textarea data-ng-model="product.description" placeholder="Description"></textarea></li>

<button class="btn btn-default" data-ng-click="newProduct(product)">Add New Product</button>
<button class="btn btn-default" data-ng-click="backMain()"><a ng-href="#">Go Back</a></button>
</ul>
</div>