<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/cart">Shopping Cart</a></li>
    <li><a ng-href="#/reviews">Reviews</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/newProduct">Admin</a></li>
    

  </ul>
  <h3 class="text-muted">The Jerk Store</h3>
</div>

<div class="jumbotron">
  <h1>The Jerk Store</h1>
  <p class="lead">
    <img src="images/costanza.png" class="jerkstore" alt="I'm JerkStore">
    <br>
  </p>

</div>

