body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
	margin-top: 50px;
}

.jumbotron h1 {
	margin-left: 280px;
}

.jumbotron img {
	width:200px;
	height:200px;
	margin-left: 400px;
}

.blogbuttonz ul >li{
	text-decoration: none;
	list-style-type: none;
	font-size:20px;
}

.blogbuttonz p {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.createbuttonz p {

	font-size: 40px;
	font-family: 'Karla', sans-serif;
}

.editbuttonz p {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.changingbuttonz ul >li{
	text-decoration: none;
	list-style-type: none;
	font-size:20px;
}

.changingbuttonz p {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.adminbuttonz ul >li{
	text-decoration: none;
	list-style-type: none;
	font-size:20px;
}

.editbuttonz img {
	width:200px;
	height:200px;
}

.productlist h2 >img{
	width:200px;
	height:200px;
}

.jerkHeader {
	margin-left: 400px;
}

.headerbtn {
	margin-left: 550px;
}

.jerkCart h1 {
	margin-left: 500px;
}
.jerkCart img {
	margin-left: 350px;
}