body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
	margin-top: 50px;
}

.jumbotron h1 {
	margin-left: 90px;
}

.jumbotron img {
	width:200px;
	height:200px;
	margin-left: 200px;
}

.blogbuttonz ul >li{
	text-decoration: none;
	list-style-type: none;
	font-size:20px;
}

.blogbuttonz p {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.createbuttonz p {

	font-size: 40px;
	font-family: 'Karla', sans-serif;
}

.editbuttonz p {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}

.changingbuttonz ul >li{
	text-decoration: none;
	list-style-type: none;
	font-size:20px;
}

.changingbuttonz p {
	font-size: 30px;
	font-family: 'Karla', sans-serif;
}